* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px 10px 80px;
  display: flex;
  justify-content: center;
}

.to-do {
  width: 100%;
  max-width: 540px;
  height: fit-content;
  margin-top: 80px;
  background-color: white;
  padding: 30px;
  border-radius: 7px;
}

@media (max-width: 767px) {
  .to-do {
    max-width: 520px;
  }
}

@media (max-width: 575px) {
  .to-do {
    max-width: 500px;
    padding: 10px;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 25px;
  margin-right: 10px;
  color: #153677;
}

.title img {
  width: 30px;
}

.form {
  background-color: #eee;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575px) {
  .form {
    flex-direction: column;
    padding: 10px;
  }
}

.form :first-child {
  outline: none;
  border: none;
  padding: 12px;
  height: 43.2px;
  border-radius: 7px;
  width: 72%;
  caret-color: #4e085f;
  font-size: 18px;
}

.form :first-child:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .form :first-child {
    width: 100%;
    margin-bottom: 15px;
  }
}

.form :last-child {
  width: 25%;
  color: white;
  background-color: #153677;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 575px) {
  .form :last-child {
    width: 36%;
    font-size: 18px;
  }
}

.tasks {
  background-color: #eee;
  padding: 20px;
  border-radius: 7px;
  margin-top: 20px;
  overflow: hidden;
}

@media (max-width: 575px) {
  .tasks {
    padding: 7px;
  }
}

.tasks > div {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  color: #4e085f;
  cursor: pointer;
}

.tasks > div.checked .text {
  text-decoration: line-through;
}

.tasks .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks .text img {
  width: 20px;
  margin-right: 15px;
}

.tasks > div:not(:last-child) {
  margin-bottom: 20px;
}

.tasks button {
  color: white;
  background-color: rgb(211, 0, 0);
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .tasks button {
    padding: 7px;
  }
}

.delete-all {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.delete-all button {
  color: white;
  background-color: rgb(211, 0, 0);
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

@media (max-width: 575px) {
  .delete-all button {
    padding: 9px 11px;
  }
}
