/*
===== css styling class names guide =====
*
container
todo
title
input
form
tasks
task-container
task
task-title
title-container
delete
button 
done
*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px 10px 80px;
  display: flex;
  justify-content: center;
}

.to-do {
  width: 100%;
  max-width: 540px;
  height: fit-content;
  margin-top: 80px;
  background-color: white;
  padding: 30px;
  border-radius: 7px;
}

@media (max-width: 767px) {
  .to-do {
    max-width: 520px;
  }
}

@media (max-width: 575px) {
  .to-do {
    max-width: 500px;
    padding: 10px;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 25px;
  margin-right: 10px;
  color: #153677;
}

.title img {
  width: 30px;
}
.input {
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 7px;
  caret-color: #4e085f;
  font-size: 18px;
}
.input-textarea {
  resize: vertical;
}
.input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.add {
  color: white;
  background-color: #153677;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.form {
  background-color: #eee;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: stretch;
}
.tasks {
  background-color: #eee;
  padding: 7px;
  border-radius: 7px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 575px) {
  .tasks{
    padding: 20px;
  }
}
.task-container{
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

}
.task-container >p{
  color: rgb(81, 81, 81);
  padding-left: 5px;
  max-width: 100%;
  word-wrap: break-word;
  font-size: 12px;
}
@media (min-width: 575px) {
  .task-container >p {
    font-size: 17px;
  }
}
.task {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  color: #4e085f;
  width: 100%;
}
.task-title{
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
}
@media screen and (min-width:300px) {
  .task-title{
    font-size: 16px;
  }
}
@media screen and (min-width:500px) {
  .task-title{
    font-size: 18px;
  }
}
.tasks img {
  width: 20px;
  height: 20px;
}
.title-container{
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 10px;
}
.delete {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 575px) {
  .delete-all button {
    padding: 9px 11px;
  }
}
.button {
  color: white;
  background-color: rgb(211, 0, 0);
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
@media screen and (min-width:500px) {
  .button{
    color: white;
    background-color: rgb(211, 0, 0);
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
  }
}
.done{
  color: black;
  text-decoration: 2px line-through red;

}
.scale{
  transition: .1s;

}
.scale:active{
  transform: scale(.9);
}
.pointer{
  cursor: pointer;
}